.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 400px;
  margin: 10px auto;
}

.card-title {
  text-align: center;
  margin: 25px 0px 25px 0px;
}
