.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  flex: 1;
  z-index: 0 !important;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

.sidenav {
  width: 250px;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}
