.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenav-container {
  flex: 1;
  z-index: 0 !important;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

.sidenav {
  width: 250px;
}

.theme-picker {
  width: 36px;
  height: 36px;
  margin: 6px;
  border-radius: 50%;
  overflow: hidden;
}

.purple-theme {
  @extend .theme-picker;
  background: #673ab7;
}

.indigo-theme {
  @extend .theme-picker;
  background: #3f51b5;
}

.pink-dark-theme {
  @extend .theme-picker;
  background: #e92a63;
}

.purple-dark-theme {
  @extend .theme-picker;
  background: #9c27b0;
}
